apiVersion: apps/v1
kind: Deployment
metadata:
  name: rag-app
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: rag-app
          image: rag-app:dev-latest
          imagePullPolicy: Never   # use local image instead of pulling from registry for local dev
          envFrom:
            - secretRef:
                name: rag-secrets
          env:
            - name: ENV
              value: "dev"
          resources: # if not set, Kubernetes won't limit resources
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"